<input type="button" value="Admin Login" class="btn btn-info" (click)="showAdminLogin()" >
&nbsp;
<input type="button" value="User Login" class="btn btn-info" (click)="showUserLogin()" style="align-items: center;">
&nbsp;
<input type="button" value="Register" class="btn btn-info" (click)="showUserRegister()" style="align-items: center;"><br/>


<h1 style="text-align:center">Medicare</h1><br/><br/><br/>

<h5 style="text-align:center">Medicare is a company that supplies medicines and healthcare essentials at an affordable price. It was established in 2012 in Delhi, India.
This portal is desinged to order your medications easy and quick.We provide best service and the best price. 
We will deliver your products within 8 hours of your order. We have quality products from varitey of sellers.</h5>
<br/>
<br/>
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/banner1.jpg" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/banner2.jpg" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/banner3.jpg" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>


