
<button type="button" class="btn btn-info" (click)="showHomePage()">Home Page</button>
<br/><br/><br/><br/><br/><br/>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card-body" mb-10>
        Search:
        &nbsp;
        <select (change)="showMedicineSelectedFromDropDown($event)">
            <option *ngFor="let medi of medicine" >
                {{medi.pdesc}}
            </option>
        </select>
        <br/><br/><br/>
        

    </div>
    <table  style="height: 100px;" class="table table-bordered" mt-10>
        <tr>
          <th><i class="fa-solid fa-tablets"></i>Item ID</th>
          <th><i class="fa-solid fa-prescription"></i>Name</th>
          <th><i class="fa-solid fa-prescription-bottle-medical"></i>Description</th>
          <th><i class="fa-solid fa-prescription-bottle"></i>Price</th>
          <th><i class="fa-sharp fa-solid fa-house-medical"></i>Seller</th>      
          <th><i class="fa-solid fa-check"></i>Select</th>  
        </tr>
        
        <tr *ngFor="let med of medicineInfo">
            
          <td>{{med.id}}</td>
          <td>{{med.name}}</td>
          <td>{{med.pdesc}}</td>
          <td>{{med.price}}</td> 
          <td>{{med.seller}}</td>    
         <tbody>
          <td>
            <input type="checkbox" id="chk1"  name="chkselected" [value]="med.name" (change)="saveSelected($event)">
          </td>
        </tbody>        
        </tr>   
    </table>
    </div>
    <div>
        <input type="button" class="btn btn-success" value="Add to Cart" (click)="sender()">   
             
    </div> 
    <div class="col-md-3"></div>
    </div>

